<svg class="chick __CLASS__" viewBox="0 0 240 240" aria-hidden="true" focusable="false">
  <ellipse class="chick__shadow" cx="122" cy="226" rx="62" ry="8"/>
  <g class="chick__legs">
    <g class="chick__leg chick__leg--l">
      <path d="M104 198v18" />
      <path class="chick__foot" d="M90 218h30c0 6-6 9-15 9s-15-3-15-9z"/>
    </g>
    <g class="chick__leg chick__leg--r">
      <path d="M140 198v18" />
      <path class="chick__foot" d="M126 218h30c0 6-6 9-15 9s-15-3-15-9z"/>
    </g>
  </g>
  <g class="chick__body">
    <g class="chick__tail">
      <path d="M196 96c14-14 30-16 38-8-6 2-10 6-12 10 10-2 20 0 24 6-8 0-14 2-18 6 8 2 14 6 16 12-14-4-30-2-42 6z"/>
    </g>
    <path class="chick__torso" d="M64 126c-4-42 26-78 68-80 46-2 80 34 76 84-4 46-38 78-84 78-40 0-56-40-60-82z"/>
    <g class="chick__wing">
      <path d="M152 138c22-10 42-2 46 14 2 10-8 18-22 18-18 0-36-10-38-20-1-6 6-10 14-12z"/>
      <path class="chick__wing-line" d="M164 152c8 2 16 6 22 12" />
    </g>
    <g class="chick__comb">
      <path d="M96 60c-6-16 4-26 14-18 0-16 16-22 22-8 8-10 22-4 18 10 4-4 12-2 10 6-4 8-14 12-30 12s-30-2-34-2z"/>
    </g>
    <g class="chick__face">
      <path class="chick__brow" d="M86 94c4-3 8-3 12-1"/>
      <path class="chick__brow" d="M128 92c4-2 8-2 12 1"/>
      <g class="chick__eye chick__eye--l"><circle cx="96" cy="108" r="5"/></g>
      <g class="chick__eye chick__eye--r"><circle cx="134" cy="108" r="5"/></g>
      <path class="chick__beak" d="M106 116h22l-11 14z"/>
      <path class="chick__wattle" d="M110 130c-8 2-10 12-2 16 4 2 8 0 9-3 1 3 5 5 9 3 8-4 6-14-2-16-4-1-8 1-7 4-1-3-4-5-7-4z"/>
    </g>
  </g>
</svg>
